<div class="row" style="background-color: white; -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75); padding-top: 10px; padding-bottom: 10px">
  <div class="col-md-6">
    <div class="message">

      <div class="user"><a href="/user/<%= bid.user.id %>"><%= bid.user.full_name %></a>
        <!--USER IMAGE COMES HERE-->
        <!--<img src=" bid.user.seeker_rating_image " style="height: 40px;"/></div>-->
        <!--USER IMAGE COMES HERE-->
      <div style="clear:both;"></div>
      <div class="content"><%= bid.comment %></div>
    </div>
  </div>
  <div class="col-md-6 text-right">
    <h3 style="padding-right: 5px"><%= number_to_currency(bid.amount, unit: 'R', separator: ',', delimiter: ' ') %></h3>
    <% if show_accept %>
        <% if !bid.is_accepted %>
            <a href="/provider/bids/<%= bid.id %>/accept" class="btn btn-success"><i class="fa fa-check" style="padding-right: 5px"></i>Accept</a>
        <% else %>
            <br/>

            <div class="col-md-12 text-center">
              <h3 style="color:green">Accepted</h3>

              <h3>Cellphone - <%= bid.user.cellphone %></h3>

              <h3>Email - <%= bid.user.email %></h3>
            </div>
        <% end %>
    <% end %>
  </div>
</div>
<br/>