<section id="main-content">
  <section class="wrapper">
    <br/>

    <div class="row">
      <div class="col-md-6 text-left">
        <h1><%= user.full_name %></h1>
        <h2>Job Seeker</h2>
      </div>
      <div class="col-md-6 text-right">
        <!--USER IMAGE COMES HERE-->
        <h1><img style="height:100px" src="<%= user.seeker_rating_image %>" /></h1>
        <!--USER IMAGE COMES HERE-->
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <div class="white-panel pn">
          <div class="white-header">
            <h5>JOBS TAKEN</h5>
          </div>
          <p><img src="https://cdn2.iconfinder.com/data/icons/bold-outline-mix/128/valentines_day-57-64.png"></p>
          <div class="row">
            <div class="col-md-12 text-center">
              <h1><%= Advert.where(user_claimed_id: user.id).count %></h1>
            </div>
          </div>
        </div>
      </div><!-- /col-md-4 -->


      <div class="col-md-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <div class="white-panel pn">
          <div class="white-header">
            <h5>MONEY RECEIVED </h5>
          </div>
          <p><img src="https://cdn2.iconfinder.com/data/icons/bold-outline-mix/128/inspiration-37-2-64.png"></p>
          <div class="row">
            <div class="col-md-12 text-center">
              <h1><%= number_to_currency(Advert.where(user_claimed_id: user.id, is_paid: true).sum(:user_claimed_amount), unit: 'R', separator: ',', delimiter: ' ') %></h1>
            </div>
          </div>
        </div>
      </div><!-- /col-md-4 -->

      <div class="col-md-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <div class="white-panel pn">
          <div class="white-header">
            <h5>BIDS MADE</h5>
          </div>
          <p><img src="https://cdn2.iconfinder.com/data/icons/bold-outline-mix/128/inspiration-32-64.png"></p>
          <div class="row">
            <div class="col-md-12 text-center">
              <h1><%= Bid.where(user_id: user.id).count %></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />

    <% if @ratings.count == 0 %>
        <p>This user has no ratings</p>
    <% end %>
    <% @ratings.each do |rating| %>
        <div class="row">
          <div class="col-md-12">
            <i class="fa fa-quote-left"></i> <%= rating.comment %> -
            <a href="/user/<%= rating.rating_from %>"><%= User.find(rating.rating_from).full_name %></a><i class="fa fa-quote-right"></i>
            <br/>
            <% rating.rating.times do |index| %>
                <i class="fa fa-star"></i>
            <% end %>
          </div>
        </div>
        <br/>
    <% end %>

  </section>
</section>

<style>
  .white-panel{
    background-color: white;
    padding:10px;
  }
</style>