<div style="margin-top: 50px">
  <div class="box">
    <div class="container-4">
      <input type="search" id="search" placeholder="Search..." value="<%= params[:search] %>"/>
      <button id="results_search_button" class="icon"><i class="fa fa-search"></i></button>
    </div>
  </div>
</div>
<div class="container">
  <h1 class="text-center">
    Search results for "<%= params[:search] %>" <small><%= @search_results.count %> found</small><br/>
  </h1>
</div>
<div class="suggested-bar">
  <% @adverts.each do |advert| %>
      <div>
        <h3><%= advert.title %></h3>

        <p><img src="https://cdn4.iconfinder.com/data/icons/keynote-and-powerpoint-icons/256/Money-16.png"/>
          <%= number_to_currency(advert.payment.blank? ? 0 : advert.payment, unit: 'R', separator: ',', delimiter: ' ') %>
        </p>

        <p>
          <img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678111-map-marker-16.png"/> <%= advert.location %>
        </p>

        <p>
          <img src="https://cdn1.iconfinder.com/data/icons/material-device/20/access-time-16.png"/> <%= time_ago_in_words(advert.date_expiry) %>
          left</p>
      </div>
  <% end %>
</div>
<div class="container" style="position: absolute;
    top: 179px;
    left: 293px;">
  <% if !@search_results.blank? %>
      <% @search_results.each do |advert| %>
          <%= render 'advert', :advert => advert %>
      <% end %>
  <% else %>
      <h1 style="color: lightgray">No Results Found</h1>
  <% end %>
</div>
<script>
  search.initialize();
</script>




