<section id="main-content">
  <section class="wrapper">
    <br/>

    <div class="col-md-12 text-right">
      <a href="/provider/adverts/new" class="btn btn-primary"><i class="fa fa-plus" style="padding-right: 5px"></i>Create
        Advert</a>
    </div>
    <br/><br/>

    <div class="showback">
      <h4><i class="fa fa-angle-right"></i> Adverts</h4>
      <table id="example" class="table">
        <thead>
        <tr>
          <th>
            Title
          </th>
          <th>
            Description
          </th>
          <th class="text-center">
            Status
          </th>
          <th class="text-center">
            Claimed By
          </th>
          <th>

          </th>
        </tr>
        </thead>
        <tbody>
        <% @adverts.each do |advert| %>
            <tr>
              <td><%= advert.title %></td>
              <td style=" width:500px;white-space:nowrap;overflow:hidden; display:block"><label style=";text-overflow: ellipsis;"><%= advert.description %></label></td>
              <% if advert.is_active %>
                  <td class="text-center"><label class="label label-success">Active</label></td>
              <% else %>
                  <td class="text-center"><label class="label label-danger">Disabled</label></td>
              <% end %>
              <td class="text-center"><%= !advert.user_claimed_id.blank? ? '<a href="#">'.html_safe + User.find(advert.user_claimed_id).full_name + '</a>'.html_safe : 'N/A' %></td>
              <td>
                <a href="/provider/adverts/<%= advert.id %>/edit" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                <a href="/provider/adverts/<%= advert.id %>/view" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                <% if advert.is_active %>
                    <a href="/provider/adverts/<%= advert.id %>/disable" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                <% else %>
                    <a href="/provider/adverts/<%= advert.id %>/enable" class="btn btn-success"><i class="fa fa-check"></i></a>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </section>
</section>
<script>
  $(document).ready(function () {
    $('#example').DataTable({
      columnDefs: [{
        targets: [0],
        orderData: [0, 1]
      }, {
        targets: [1],
        orderData: [1, 0]
      }, {
        targets: [4],
        orderData: [4, 0]
      }]
    });
  })

  $("#profile_menu_item").removeClass('active')
  $("#posted_adverts_menu_item").addClass('active')
  $("#bids_menu_item").removeClass('active')
  $("#payments_menu_item").removeClass('active')
</script>