<style>
  .outstanding_panel {
    background-color: white;
    color: #3B3B3B;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    height: 100px;
  }

  .btn-danger {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(255, 50, 50, 0.75);
  }

  .btn-success {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 255, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 255, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 255, 0, 0.75);
  }
</style>


<section id="main-content">
  <section class="wrapper">
    <br/>

    <div class="row">
      <div class="col-md-6 text-center outstanding_panel">
        <h1 style="margin: 0px"><%= number_to_currency(@jobs.where(is_paid: false).sum(:user_claimed_amount), unit: 'R', separator: ',', delimiter: ' ') %></h1>
        <br/>

        <h1 style="margin: 0px">
          <small>(Immediately Due)</small>
        </h1>
      </div>

      <div class="col-md-6 text-center outstanding_panel btn-danger">
        <h1 style="margin: 0px">R 0.00</h1><br/>

        <h1 style="margin: 0px">
          <small>(OVERDUE)</small>
        </h1>
      </div>
    </div>
    <br/>


    <table id="example" class="table">
      <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Job Provider
        </th>
        <th>
          Amount
        </th>
        <th>

        </th>
      </tr>
      </thead>
      <tbody>

      <% @jobs.each do |job| %>
          <tr style="<%= job.is_paid ? 'background-color: #C8FFB5' : '' %>">
            <td><%= job.title %></td>
            <td><a href="/user/<%= job.user_id %>"><%= job.user.full_name %></a></td>
            <td>
              <p>Claimed: <%= number_to_currency(job.user_claimed_amount, unit: 'R', separator: ',', delimiter: ' ') %></p>
            </td>
            <% if !job.is_paid %>
                <td><a class="btn btn-success" href="/seeker/payments/<%= job.id %>/mark_as_paid"><i class="fa fa-check" style="padding-right: 5px"></i>Mark as Paid</a>
                </td>
            <% else %>
                <td><label class="label label-success">Paid</label>
                </td>
            <% end %>
          </tr>
      <% end %>

      </tbody>
    </table>


  </section>
</section>
<script>
  $(document).ready(function () {
    $('#example').DataTable({
      columnDefs: [{
        targets: [0],
        orderData: [0, 1]
      }, {
        targets: [1],
        orderData: [1, 0]
      }, {
        targets: [4],
        orderData: [4, 0]
      }]
    });
  })

</script>

<script>
  $("#profile_menu_item").removeClass('active')
  $("#jobs_menu_item").removeClass('active')
  $("#payments_menu_item").addClass('active')
</script>