<section id="main-content">
  <section class="wrapper">
    <br/>

    <div class="showback">
      <h4><i class="fa fa-angle-right"></i> Users</h4>
      <table id="example" class="table">
        <thead>
        <tr>
          <th>
            Full Name
          </th>
          <th>
            User Type
          </th>
          <th>
            Adverts
            <small> claimed/submitted</small>
          </th>
          <th>
            Email Address
          </th>
          <th>
            Active Since
          </th>
          <th>

          </th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr <%= user.is_active ? '' : 'style="background-color: #FFD6D6"'.html_safe %>>
              <td><%= user.full_name %></td>
              <td><%= user.user_type == 2 ? 'Job Provider' : 'Job Seeker' %></td>
              <td><%= user.user_type == 2 ? user.adverts.count.to_s + ' created' : Advert.where(user_claimed_id: user.id, is_claimed: true).count.to_s + ' claimed' %></td>
              <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
              <td><%= time_ago_in_words(user.created_at) %> ago</td>
              <% if user.is_active %>
                  <td>
                    <a href="/administrator/users/<%= user.id %>/disable" class="btn btn-danger"><i class="fa fa-trash" style="padding-right: 5px"></i>Remove
                      User</a>
                  </td>
              <% else %>
                  <td>
                    <a href="/administrator/users/<%= user.id %>/activate" class="btn btn-success"><i class="fa fa-check" style="padding-right: 5px"></i>Re-Activate User</a>
                  </td>
              <% end %>
            </tr>
        <% end %>



        </tbody>
      </table>
    </div>

  </section>
</section>
<script>
  $(document).ready(function () {
    $('#example').DataTable({
      columnDefs: [{
        targets: [0],
        orderData: [0, 1]
      }, {
        targets: [1],
        orderData: [1, 0]
      }, {
        targets: [4],
        orderData: [4, 0]
      }]
    });
  })

  $("#adverts_menu_item").removeClass('active')
  $("#affiliate_menu_item").removeClass('active')
  $("#comments_menu_item").removeClass('active')
  $("#users_menu_item").addClass('active')
  $("#dashboard_menu_item").removeClass('active')
</script>