<section id="main-content">
  <section class="wrapper">
    <br/>

    <div class="showback">
      <h4><i class="fa fa-angle-right"></i> Adverts Active</h4>
      <br/>

      <% @advert.each do |advert| %>

          <div class="row">
            <div class="col-md-12 mb">
              <div class="white-panel pn" style="color:white !important; <%= advert.is_active ? '' : 'background-color: #FFE8E8 !important'.html_safe %>">
                <div class="white-header">
                  <div class="row">
                    <div class="col-md-7 text-right">
                      <h5><%= advert.title %></h5>
                    </div>
                    <div class="col-md-5 text-right">
                      <% if advert.is_active %>
                          <a href="/administrator/adverts/<%= advert.id %>/disable" class="btn btn-danger" style="color:white"><i class="fa fa-times" style="padding-right: 10px"></i>Remove
                            Advert</a>
                      <% else %>
                          <a href="/administrator/adverts/<%= advert.id %>/activate" class="btn btn-success" style="color:white"><i class="fa fa-check" style="padding-right: 10px"></i>Reactivate Advert</a>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 text-center">
                    <img src="/images/profile_pictures/<%= advert.user.profile_picture %>" class="img-circle" width="80">
                  </div>
                  <div class="col-md-4 text-center">
                    <h3 style="background-color: #68dff0; padding: 5px"><b><%= advert.user.full_name %></b></h3></div>
                  <div class="col-md-4 text-center" style="color: black">
                    <h3><%= number_to_currency(advert.payment, unit: 'R', separator: ',', delimiter: ' ') %></h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <p class="small mt">
                      <%= advert.description[0..300] %>...
                    </p>

                  </div>
                </div>

              </div>
            </div>
          </div>
      <% end %>

      <br/>


    </div>

  </section>
</section>
<script>
  $("#adverts_menu_item").addClass('active')
  $("#affiliate_menu_item").removeClass('active')
  $("#comments_menu_item").removeClass('active')
  $("#users_menu_item").removeClass('active')
  $("#dashboard_menu_item").removeClass('active')
</script>