<section id="main-content">
  <section class="wrapper">
    <br/>

    <div class="showback">
      <h4><i class="fa fa-angle-right"></i>Active Bids</h4>
      <br/>


      <style>
        .message {
          margin-bottom: 15px;
        }

        .image {
          float: left;
          margin-right: 10px;
        }

        .user {
          float: left;
          font-weight: bold;
          color: #009;
          margin-bottom: 5px;
        }

        .content {
          margin-left: 30px;
          font-style: italic;
          color: #8DD7F0;
        }
      </style>


      <div>

        <% @bids.each do |bid| %>
            <div class="row" style="<%= bid.is_active ? '' : 'background-color: "#FFD6D6"' %>">
              <div class="col-md-6">
                <div class="message">
                  <div class="image">
                    <img style="border-radius: 25px; height:25px" src="/images/profile_pictures/<%= bid.user.profile_picture %>"/>
                  </div>
                  <div class="user"><%= bid.user.full_name %></div>
                  <div style="clear:both;"></div>
                  <div class="content"><%= bid.comment %></div>
                </div>
              </div>
              <div class="col-md-6 text-right">
                <% if bid.is_active %>
                    <a href="/administrator/comments/<%= bid.id %>/disable" class="btn btn-danger"><i class="fa fa-times" style="padding-right: 5px"></i>Disable</a>
                <% else %>
                    <a href="/administrator/comments/<%= bid.id %>/activate" class="btn btn-success"><i class="fa fa-check" style="padding-right: 5px"></i>Reactivate</a>
                <% end %>
              </div>
            </div>
        <% end %>


      </div>


    </div>

  </section>
</section>
<script>
  $("#adverts_menu_item").removeClass('active')
  $("#affiliate_menu_item").removeClass('active')
  $("#comments_menu_item").addClass('active')
  $("#users_menu_item").removeClass('active')
  $("#dashboard_menu_item").removeClass('active')
</script>