<section id="main-content">
  <section class="wrapper">
    <div class="showback">
      <h4><i class="fa fa-angle-right"></i> Jobs</h4>
      <br/>


      <table id="example" class="table">
        <thead>
        <tr>
          <th>
            Title
          </th>
          <th>
            Description
          </th>
          <th>
            Amount
          </th>
          <th>
            Contact
          </th>
          <th>
            Status
          </th>
        </tr>
        </thead>
        <tbody>
        <% @jobs.each do |job| %>
            <tr>
              <td><%= job.title %></td>
              <td><%= job.description[0..50] %>...</td>
              <td>
                <p>Claimed: <%= number_to_currency(job.user_claimed_amount, unit: 'R', separator: ',', delimiter: ' ') %></p>
              </td>
              <td>
                <p><%= job.user.full_name %></p>
                <p><%= job.user.cellphone %></p>
                <p><%= job.user.email %></p>
              </td>
              <% if job.date_required < Date.today && !job.is_paid %>
                  <td><p style="color:red">PAYMENT PENDING</p></td>
              <% elsif job.date_required < Date.today && job.is_paid %>
                  <td><p style="color:green">COMPLETED(<small>paid</small>)</p></td>
              <% elsif job.date_required > Date.today %>
                  <td><p style="color:red">WORK PENDING<small>(<%= (job.is_paid ? 'paid' : 'not paid') %>)</small></p></td>
              <% end %>



            </tr>
        <% end %>

        </tbody>
      </table>
    </div>


  </section>
</section>
<script>
  $(document).ready(function () {
    $('#example').DataTable({
      columnDefs: [{
        targets: [0],
        orderData: [0, 1]
      }, {
        targets: [1],
        orderData: [1, 0]
      }, {
        targets: [4],
        orderData: [4, 0]
      }]
    });
  })

  $("#profile_menu_item").removeClass('active')
  $("#jobs_menu_item").addClass('active')
  $("#payments_menu_item").removeClass('active')
</script>