<style>
  .outstanding_panel {
    background-color: white;
    color: #3B3B3B;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    height: 100px;
  }

  .btn-danger {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(255, 50, 50, 0.75);
  }

  .btn-success {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 255, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 255, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 255, 0, 0.75);
  }
</style>


<section id="main-content">
  <section class="wrapper">
    <br/>

    <div class="row">
      <div class="col-md-4 text-center outstanding_panel">
        <h1 style="margin: 0px"><%= number_to_currency(@immediately_due, unit: 'R', separator: ',', delimiter: ' ') %></h1>
        <br/>

        <h1 style="margin: 0px">
          <small>(Immediately Due)</small>
        </h1>
      </div>
      <div class="col-md-4 text-center outstanding_panel btn-success">
        <h1 style="margin: 0px"><%= number_to_currency(@saving, unit: 'R', separator: ',', delimiter: ' ') %></h1><br/>

        <h1 style="margin: 0px">
          <small>(Savings)</small>
        </h1>
      </div>
      <div class="col-md-4 text-center outstanding_panel btn-danger">
        <h1 style="margin: 0px"><%= number_to_currency(@overdue, unit: 'R', separator: ',', delimiter: ' ') %></h1><br/>

        <h1 style="margin: 0px">
          <small>(OVERDUE)</small>
        </h1>
      </div>
    </div>
    <br/>


    <table id="example" class="table">
      <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Description
        </th>
        <th>
          Claimed By
        </th>
        <th>
          Amount
        </th>
        <th>
          Total
        </th>
      </tr>
      </thead>
      <tbody>
      <% @adverts.each do |advert| %>
          <tr>
            <td><%= advert.title %></td>
            <td><%= advert.description[0..50] %>...</td>
            <td><a href="/user/<%= advert.user_claimed_id %>"><%= User.find(advert.user_claimed_id).full_name rescue 'N/A' %></a></td>
            <td>
              <p>Claimed: <%= number_to_currency(advert.user_claimed_amount, unit: 'R', separator: ',', delimiter: ' ') %></p>
            </td>
            <td><%= number_to_currency(advert.user_claimed_amount, unit: 'R', separator: ',', delimiter: ' ') %></td>
          </tr>
      <% end %>

      </tbody>
    </table>


  </section>
</section>
<script>
  $(document).ready(function () {
    $('#example').DataTable({
      columnDefs: [{
        targets: [0],
        orderData: [0, 1]
      }, {
        targets: [1],
        orderData: [1, 0]
      }, {
        targets: [4],
        orderData: [4, 0]
      }]
    });
  })

  $("#profile_menu_item").removeClass('active')
  $("#posted_adverts_menu_item").removeClass('active')
  $("#bids_menu_item").removeClass('active')
  $("#payments_menu_item").addClass('active')
</script>