<section id="main-content">
  <section class="wrapper">
    <br/>

    <div class="row">
      <div class="col-md-6 text-left">
        <h1><%= @user.full_name %></h1>
        <p><%= @user.cellphone %></p>
        <p><%= @user.address %> </p>
      </div>
      <div class="col-md-6 text-right">
        <!--USER IMAGE COMES HERE-->
        <!--<h1><img src=" @user.seeker_rating_image " /></h1>-->
        <!--USER IMAGE COMES HERE-->
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <div class="white-panel pn">
          <div class="white-header">
            <h5>JOBS TAKEN</h5>
          </div>
          <p><img src="https://cdn2.iconfinder.com/data/icons/bold-outline-mix/128/valentines_day-57-64.png"></p>
          <div class="row">
            <div class="col-md-12 text-center">
              <h1><%= @jobs_taken %></h1>
            </div>
          </div>
        </div>
      </div><!-- /col-md-4 -->


      <div class="col-md-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <div class="white-panel pn">
          <div class="white-header">
            <h5>MONEY RECEIVED </h5>
          </div>
          <p><img src="https://cdn2.iconfinder.com/data/icons/bold-outline-mix/128/inspiration-37-2-64.png"></p>
          <div class="row">
            <div class="col-md-12 text-center">
              <h1><%= number_to_currency(@money_received, unit: 'R', separator: ',', delimiter: ' ') %></h1>
            </div>
          </div>
        </div>
      </div><!-- /col-md-4 -->

      <div class="col-md-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <div class="white-panel pn">
          <div class="white-header">
            <h5>BIDS MADE</h5>
          </div>
          <p><img src="https://cdn2.iconfinder.com/data/icons/bold-outline-mix/128/inspiration-32-64.png"></p>
          <div class="row">
            <div class="col-md-12 text-center">
              <h1><%= @jobs_bid_on %></h1>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</section>
<script>
  $("#profile_menu_item").addClass('active')
  $("#jobs_menu_item").removeClass('active')
  $("#payments_menu_item").removeClass('active')
</script>