<section id="main-content">
  <section class="wrapper">
    <br/>

    <div class="row">
      <div class="col-md-6 text-left">
        <h1><%= @user.full_name %></h1>
        <p><%= @user.cellphone %></p>
        <p><%= @user.address %></p>
      </div>
      <div class="col-md-6 text-right">
        <h1><img src="<%= @user.provider_rating_image %>" /></h1>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <div class="white-panel pn">
          <div class="white-header">
            <h5>JOBS PROVIDED</h5>
          </div>
          <p><img src="https://cdn2.iconfinder.com/data/icons/bold-outline-mix/128/valentines_day-57-64.png"></p>
          <div class="row">
           <div class="col-md-12 text-center">
             <h1><%= @user.jobs.blank? ? '0' : @user.jobs %></h1>
           </div>
          </div>
        </div>
      </div><!-- /col-md-4 -->


      <div class="col-md-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <div class="white-panel pn">
          <div class="white-header">
            <h5>MONEY SPENT</h5>
          </div>
          <p><img src="https://cdn2.iconfinder.com/data/icons/bold-outline-mix/128/inspiration-37-2-64.png"></p>
          <div class="row">
            <div class="col-md-12 text-center">
              <h1><%= number_to_currency(@user.money.blank? ? 0 : @user.money, unit: 'R', separator: ',', delimiter: ' ') %></h1>
            </div>
          </div>
        </div>
      </div><!-- /col-md-4 -->

      <div class="col-md-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <div class="white-panel pn">
          <div class="white-header">
            <h5>JOBS CURRENTLY ACTIVE</h5>
          </div>
          <p><img src="https://cdn2.iconfinder.com/data/icons/bold-outline-mix/128/inspiration-32-64.png"></p>
          <div class="row">
            <div class="col-md-12 text-center">
              <h1><%= Advert.where(user_id: session[:user_id], is_active: true, is_claimed: nil).count %></h1>
            </div>
          </div>
        </div>
      </div><!-- /col-md-4 -->





    </div>

  </section>
</section>
<script>
  $("#profile_menu_item").addClass('active')
  $("#posted_adverts_menu_item").removeClass('active')
  $("#bids_menu_item").removeClass('active')
  $("#payments_menu_item").removeClass('active')
</script>