<section id="main-content">
  <section class="wrapper">

    <div class="row">
      <div class="col-lg-9 main-chart">

        <div class="row mtbox">
          <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
            <div class="box1">
              <span class="li_heart"></span>

              <h3><%= @signups %></h3>
            </div>
            <p><%= @signups %> People have signed up today!</p>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
              <span class="li_cloud"></span>

              <h3><%= @current_files %></h3>
            </div>
            <p><%= @current_files %> files are currently stored on your server.</p>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
              <span class="li_stack"></span>

              <h3><%= @comments %></h3>
            </div>
            <p><%= @comments %> new comments were added today.</p>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
              <span class="li_news"></span>

              <h3>+<%= @adverts %></h3>
            </div>
            <p><%= @adverts %> more adverts were created today.</p>
          </div>
          <div class="col-md-2 col-sm-2 box0">
            <div class="box1">
              <span class="li_data"></span>

              <h3 style="color:green">Up</h3>
            </div>
            <p>Your server is working perfectly.</p>
          </div>

        </div><!-- /row mt -->


      </div><!-- /col-lg-9 END SECTION MIDDLE -->


      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->

      <div class="col-lg-3 ds" style="height:100vh">
        <!--COMPLETED ACTIONS DONUTS CHART-->
        <h3>NOTIFICATIONS</h3>

        <% @notifications.each do |notification| %>
            <div class="desc">
              <div class="thumb">
                <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
              </div>
              <div class="details">
                <p>
                  <muted><%= time_ago_in_words(notification.created_at) %> ago</muted>
                  <br/>
                  <%= link_to notification.full_name, "/user/#{notification.id}", "data-no-turbolink" => true %> signed up.<br/>
                </p>
              </div>
            </div>
        <% end %>

      </div><!-- /col-lg-3 -->
    </div>
    <! --/row -->
  </section>
</section>

<script>
  $("#adverts_menu_item").removeClass('active')
  $("#affiliate_menu_item").removeClass('active')
  $("#comments_menu_item").removeClass('active')
  $("#users_menu_item").removeClass('active')
  $("#dashboard_menu_item").addClass('active')
</script>

